{% extends 'passengers/base.html' %}

{% block content %}

    <h1> search for any ID to get the details </h1>
    
   
    
    <form method=POST action="{% url 'temperature' %}">
      {% csrf_token %}
        <select name="city" >
            <option selected>Choose the city </option>
            <option value="Wollongong" >Wollongong</option>
            <option value="London">London</option>
            <option value="Sydney">Sydney</option>
            <option value="New York" >New York</option>
            <option value="Amalapuram" >Amalapuram</option>
        </select>
        <input type = "submit" name = "submitted"></input> 
    </form>

 <!-- WeatherData.main.temp -->
    <body>
         {% if WeatherData.name %}
            {%load custom_tags%}
             
             <h5> temperature in {{WeatherData.name}} is nearly {% add WeatherData.main.temp -273.15 %}  °C 

            <ul>
                {% for i in WeatherData.weather %} 
                    <li> {{i.description}} </li>
                {% endfor %}
            </ul>
            </h5>
         {%else%}
            <h1> Enter the city </h1>
          {% endif %}



<section class="vh-100" style="background-color: #4B515D;">
  <div class="container py-5 h-100">


        <form method=POST action="{% url 'temperature' %}">
      {% csrf_token %}
        <select name="city" >
            <option selected>Choose the city </option>
            <option value="Wollongong" >Wollongong</option>
            <option value="London">London</option>
            <option value="Sydney">Sydney</option>
            <option value="New York" >New York</option>
            <option value="Amalapuram" >Amalapuram</option>
        </select>
        <input type = "submit" name = "submitted"></input> 
    </form>



    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-4">



    



{% if WeatherData.name %}
        <div class="card" style="color: #4B515D; border-radius: 35px;">
          <div class="card-body p-4">

            <div class="d-flex">
              <h6 class="flex-grow-1">{{WeatherData.name}}</h6>
              <h6>15:07</h6>
            </div>

            <div class="d-flex flex-column text-center mt-5 mb-4">
        

            {%load custom_tags%}
              <h6 class="display-4 mb-0 font-weight-bold" style="color: #1C2331;"> {% add WeatherData.main.temp -273.15 %} °C</h6>
              <span class="small" style="color: #868B94">
              <ul>
                {% for i in WeatherData.weather %} 
                    {{i.description}}
                {% endfor %}
            </ul>
              
              
              </span>
            </div>

            <div class="d-flex align-items-center">
              <div class="flex-grow-1" style="font-size: 1rem;">
                <div><i class="fas fa-wind fa-fw" style="color: #868B94;"></i> <span class="ms-1"> 40 km/h </span></div>
                <div><i class="fas fa-tint fa-fw" style="color: #868B94;"></i> <span class="ms-1"> 84% </span></div>
                <div><i class="fas fa-sun fa-fw" style="color: #868B94;"></i> <span class="ms-1"> 0.2h </span></div>
              </div>
              <div>
                <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-weather/ilu1.png" width="100px">
              </div>
            </div>
{% endif %}
          </div>
        </div>

      </div>
    </div>

  </div>
</section>

    </body>
{% endblock  %}